[Unit]
Description="elife-xpub, peer-review system"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardError=syslog
WorkingDirectory=/srv/xpub
User={{ pillar.elife.deploy_user.username }}
Environment="INK_USERNAME={{ pillar.elife_xpub.ink.user }}"
Environment="INK_PASSWORD={{ pillar.elife_xpub.ink.password }}"
Environment="INK_ENDPOINT={{ pillar.elife_xpub.ink.endpoint }}"
ExecStart=/usr/bin/npm start --prefix=packages/xpub-collabra/
Restart=on-failure
