[Unit]
Description="elife-xpub, peer-review system"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardError=syslog
WorkingDirectory=/srv/xpub
User={{ pillar.elife.deploy_user.username }}
ExecStart=/usr/bin/npm start --prefix=packages/xpub-collabra/
Restart=on-failure
